<div id="footer-con" class="container-lg p-4">
  <h3 class="text-center">Get in touch</h3>
  <div id="socials-con" class="text-center my-3">
    <a class="fa-brands fa-instagram" href="https://www.instagram.com/reedtorz/" target="_blank"></a>
    <a class="fa-brands fa-square-x-twitter"
    href="https://twitter.com/ReedTorralba" target="_blank"></a>
    <a class="fa-brands fa-square-facebook" href="https://www.facebook.com/arfeloreed/" target="_blank"></a>
    <a class="fa-brands fa-linkedin" href="https://www.linkedin.com/in/arfeloreed/" target="_blank"></a>
    <a class="fa-brands fa-square-github" href="https://github.com/arfeloreed" target="_blank"></a>
  </div>
  <p class="mb-0 text-center">© 2023 Arfelo Reed @ <a href="https://reedrealm.com/" target="_blank">ReedRealm.com</a></p>
</div>